.gradient {
    -fx-background-color: linear-gradient(to bottom right, #bef1f3, #acb6e5);
}

.head-label {
    -fx-border-color: #acb6e5;
    -fx-border-width: 0 0 0 5px;
    -fx-padding: 0 0 0 5px;
}

.login-btn {
    -fx-background-color: #7177bf;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.login-btn:hover {
    -fx-background-color: #6067bdff;
    -fx-cursor: hand;

    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.textfield {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #1c4d9c, #acb6e5);
    -fx-border-width: .5px;
}

.textfield:focused {
    -fx-border-width: 1px;
}

.create-btn {
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #7177bf;
    -fx-border-color: #7177bf;
    -fx-border-width: 1px;
}

.create-btn:hover {
    -fx-background-color: #6067bdff;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

